.background_white_green{
    background-color: #edf5e1;
    color: #05386b;
  }

  .background_pale_green{
    background-color: #8ee4af;
    color: #05386b;
  }

  .background_normal_green  {
    background-color: #5cdb95;
    color: #05386b;
  }

  .background_deep_green{
    background-color: #379683;
    color: #05386b;
  }

  .background_deep_blue{
    background-color: #05386b;
  }
  
